<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:appstudio="http://schemas.microsoft.com/developer/appx/2015/appstudio" 
  IgnorableNamespaces="uap mp appstudio">
			<Identity Name="c77bf542-63ba-48d5-ba01-9ef1c38be159" Publisher="CN=AppStudio" Version="1.0.0.0" />
	    <mp:PhoneIdentity PhoneProductId="7870994b-3130-4d4e-8075-59c2b37aa075" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    <Properties>
        <DisplayName>AppStudio App</DisplayName>
        <PublisherDisplayName>AppStudio</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>
    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10240.0" MaxVersionTested="10.0.10240.0" />
    </Dependencies>
    <Resources>
        <Resource Language="x-generate"/>
    </Resources>
    <Applications>
        <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Spotted.App">
            <uap:VisualElements 
			  DisplayName="Spotted"
              Square150x150Logo="Assets\Square150x150Logo.png"
              Square44x44Logo="Assets\Square44x44Logo.png"
              Description="Learn more about Windows App Studio.  Use this template to create an informational app about a topic you care about."
              BackgroundColor="#333333">
                <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#333333"/>
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png">
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo" />
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
            </uap:VisualElements>
        </Application>
    </Applications>
    <Capabilities>
        <Capability Name="internetClient" />
    </Capabilities>
    <appstudio:Metadata>
        <appstudio:Item Name="appId" Value="7870994b-3130-4d4e-8075-59c2b37aa075" />
        <appstudio:Item Name="model" Version="1.12" />
        <appstudio:Item Name="formula" Value="Win10" Version="1.11.1030.2" />
        <appstudio:Item DataSource="Html" Version="1.0.*"/>
        <appstudio:Item DataSource="Menu" Version="1.0.*"/>
        <appstudio:Item DataSource="Collection" Version="1.0.*"/>
        <appstudio:Item DataSource="Rss" Version="1.0.*"/>
    </appstudio:Metadata>
</Package>
